
.menu {
  opacity: 0.9;
  display: none;
  position: fixed;
  top: 80px;
  right: 10px;
  width: 100px;
  height: 200px;
  background-color: @header-font-color;
  border-radius: 10px;
  z-index: 2;
}

.menu--open {
  display: block;
}